{:deps
 {org.clojure/java.jdbc      {:mvn/version "0.7.8"}
  mysql/mysql-connector-java {:mvn/version "8.0.13"}
  ring/ring-defaults         {:mvn/version "0.3.2"}
  ring/ring-jetty-adapter    {:mvn/version "1.7.1"}
  compojure                  {:mvn/version "1.6.1"}
  hiccup                     {:mvn/version "1.0.5"}}}
